<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="{% static 'js/sidebar.js' %}"></script>
    <link type="text/css" rel="stylesheet" href="{% static "css/style.css" %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/icons.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/black-dashboard.css' %}"/>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <title>Title</title>
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>

<body id="body-pd">
{% if request.user.is_authenticated %}
    <header class="header" id="header">
        <div class="header_toggle"><i class='bx bx-menu' id="header-toggle"></i></div>
    </header>

    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div><a href="#" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Analytical Server</span>
            </a>
                <div class="nav_list">
                    <a href="#" class="nav_link active"> <i class='bx bx-grid-alt nav_icon'></i> <span
                            class="nav_name">Data Base</span> </a>
                    <a href="#" class="nav_link"> <i
                            class='bx bx-user nav_icon'></i>
                        <span class="nav_name">Optimization</span> </a>
                    <a href="#"
                       class="nav_link"> <i
                            class='bx bx-message-square-detail nav_icon'></i> <span class="nav_name">Stats</span> </a>
                    <a
                            href="#" class="nav_link"> <i class='bx bx-bookmark nav_icon'></i> <span
                            class="nav_name">Settings</span> </a> <a href="#" class="nav_link"> <i
                        class='bx bx-folder nav_icon'></i> <span class="nav_name">Files</span> </a> <a href="#"
                                                                                                       class="nav_link">
                    <i
                            class='bx bx-bar-chart-alt-2 nav_icon'></i> <span class="nav_name">Trade</span> </a></div>
            </div>
            <a href="/auth/logout" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
            </a>
        </nav>
    </div>
{% else %}
{% endif %}
<div class="height-100 bg-gray-dark">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>